<div>
	<h2>
	  <a href="/teams/<%= team.name %>"><%= team.name %></a>
	</h2>
	<p>
	  <%= team.members %>
	</p>
  <a href="/teams/<%= team.name%>" class="btn btn-danger delete">
    Delete Team
    </a>
</div>
